html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 10vh 10vw;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 50px;
  margin-bottom: 50px;
}

h1 a {
  background-repeat: no-repeat;
  background-size: 100% 4px;
  background-position: 0 100%;
}

.steps {
  height: 100px;
  display: flex;
}

.steps div {
  flex: 1;
  /* margin-left: 1px;
  margin-bottom: 1px; */
}

.steps div:first-child {
  margin-left: 0;
}

.color {
  height: 100px;
  margin-bottom: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.color input {
  width: 50%;
}

.pickers {
  display: flex;
  justify-content: space-between;
}
